apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer
  namespace: aurora-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer
  template:
    metadata:
      labels:
        app: customer
    spec:
      containers:
        - name: customer
          image: nanachi1027/aurora-customer:latest
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: dev
            - name: CONSUL_HOST
              value: consul
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/customer
            - name: SPRING_DATASOURCE_USERNAME
              value: admin
            - name: SPRING_DATASOURCE_PASSWORD
              value: admin