apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification
  namespace: aurora-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
        - name: notification
          image: nanachi1027/aurora-notification:latest
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: dev
            - name: CONSUL_HOST
              value: consul
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/notification
            - name: SPRING_DATASOURCE_USERNAME
              value: admin
            - name: SPRING_DATASOURCE_PASSWORD
              value: admin
            - name: RABBITMQ_ADDRESSES
              value: rabbitmq:5672