server:
  port: ${SERVER_PORT:8082}

spring:
  application:
    name: ${APP_NAME:notification}

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/notification}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:create-drop}
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true
    show-sql: ${JPA_SHOW_SQL:true}

  rabbitmq:
    addresses: ${RABBITMQ_ADDRESSES:localhost:5672}

  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
      retry:
        max-attempts: 5
        initial-interval: 1000
        max-interval: 5000
      discovery:
        enabled: true
        register: true
        health-check-path: /actuator/health
        health-check-interval: 10s

rabbitmq:
  exchanges:
    internal: internal.exchange
  queues:
    notification: notification.queue
  routing-keys:
    internal-notification: internal.notification.routing-key

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: ${LOG_LEVEL:INFO}
